

html, body {
    text-align:center;
  
    background-color: #98E4FF;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  
}
